<link rel="stylesheet" href="css/about-us.css">
<section id="courseArchive"> 
  <p style="padding:20px"></p>
  <div class="jumbotron container">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
        <img src="img/eshrekny.png" alt="stack photo" class="img">
      </div>
      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
        <div class="container" style="border-bottom:1px solid black">
          <h2>من نحن؟</h2>
        </div><br>
        <div>
          <p class="description">انطلاقًا من مبدأ أهمية المشاركة التطوعية الهادفة في العمل الاجتماعي داخل الجمعيات الأهلية، تمثل أشركني حلقة الوصل بين هذه الجمعيات، والأفراد الراغبين في التطوع، عن طريق تعريف الأفراد بهذه الجمعيات وما تقدمه من أنشطة، كما تتيح الفرصة للجمعيات للإعلان عن مبادراتها وأنشطتها المختلفة والدعوة للمشاركة فيها.</p>
        </div>
        <hr>
        <ul class="container details">
          <!-- <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+91 90000 00000</p></li> -->
          <li>
            <p>
              <span class="glyphicon glyphicon-envelope one" style="width:50px;">
              </span>eshrkny@gmail.com
            </p>
          </li>
          <li>
            <p>
              <span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>الإسكندرية
            </p>
          </li>
          <li>
            <p>
              <span class="glyphicon glyphicon-new-window one" style="width:50px;"></span>
                <a href="#">www.ashrekny.com</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <p style="padding-top: 20px"></p>
    <div class="row">
      <h2 style="text-align: center;">فريق العمل</h2>
      <p style="padding-top: 20px"></p>
      <!-- start card profile 1 -->
      <div class="col-lg-4 col-sm-6">
          <div class="card hovercard cardHead">
            <div class="cardheader">
              <div class="title">
                <h3 target="_blank">عبير عبد الجابر</h3>
              </div>
            </div>
            <div class="avatar">
              <img alt="" src="img/team-img/abeer.jpg">
            </div>
            <div class="info">
              <div class="desc">full stack developer</div>
              <div class="desc">محبه لإستطلاع اراء الاّخرين</div>
              <div class="desc">محبه للتكلونوجيا</div>
            </div>
            <div class="bottom">
              <a class="btn btn-info btn-twitter btn-sm" href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-danger btn-googleplus btn-sm" rel="publisher"
                 href="#">
                  <i class="fa fa-google-plus"></i>
              </a>
              <a class="btn btn-primary btn-facebook btn-sm" rel="publisher"
                 href="https://www.facebook.com/abeer.alwakeel">
                  <i class="fa fa-facebook"></i>
              </a>
            </div>
          </div>
      </div>
      <!-- end card profile 1 -->
      <!-- start card profile 2 -->
      <div class="col-lg-4 col-sm-6">
          <div class="card hovercard cardHead">
            <div class="cardheader">
              <div class="title">
                <h3 target="_blank">إبراهيم كامل</h3>
              </div>
            </div>
            <div class="avatar">
              <img alt="" src="img/team-img/ibrahim.jpg">
            </div>
            <div class="info">
              <div class="desc">full stack developer</div>
              <div class="desc">محبه لإستطلاع اراء الاّخرين</div>
              <div class="desc">محبه للتكلونوجيا</div>
            </div>
            <div class="bottom">
              <a class="btn btn-info btn-twitter btn-sm" href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-danger btn-googleplus btn-sm" rel="publisher"
                 href="#">
                  <i class="fa fa-google-plus"></i>
              </a>
              <a class="btn btn-primary btn-facebook btn-sm" rel="publisher"
                 href="https://www.facebook.com/eng.ibrahimkamel">
                  <i class="fa fa-facebook"></i>
              </a>
            </div>
          </div>
      </div>
      <!-- end card profile 2 -->
      <!-- start card profile 3 -->
      <div class="col-lg-4 col-sm-6">
          <div class="card hovercard cardHead">
            <div class="cardheader">
              <div class="title">
                <h3 target="_blank">لبني محمد</h3>
              </div>
            </div>
            <div class="avatar">
              <img alt="" src="img/team-img/lobna.jpg">
            </div>
            <div class="info">
              <div class="desc">full stack developer</div>
              <div class="desc">محبه لإستطلاع اراء الاّخرين</div>
              <div class="desc">محبه للتكلونوجيا</div>
            </div>
            <div class="bottom">
              <a class="btn btn-info btn-twitter btn-sm" href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-danger btn-googleplus btn-sm" rel="publisher"
                 href="#">
                  <i class="fa fa-google-plus"></i>
              </a>
              <a class="btn btn-primary btn-facebook btn-sm" rel="publisher"
                 href="https://www.facebook.com/lobna.mohamed.330">
                  <i class="fa fa-facebook"></i>
              </a>
            </div>
          </div>
      </div>
      <!-- end card profile 3 -->
    </div>
    <p style="padding: 10px"></p>
    <div class="row">  
      <!-- start card profile 4 -->
      <div class="col-lg-4 col-sm-6">
          <div class="card hovercard cardHead">
            <div class="cardheader">
              <div class="title">
                <h3 target="_blank">عمرو أشرف</h3>
              </div>
            </div>
            <div class="avatar">
              <img alt="" src="img/team-img/amr.jpg">
            </div>
            <div class="info">
              <div class="desc">full stack developer</div>
              <div class="desc">محبه لإستطلاع اراء الاّخرين</div>
              <div class="desc">محبه للتكلونوجيا</div>
            </div>
            <div class="bottom">
              <a class="btn btn-info btn-twitter btn-sm" href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-danger btn-googleplus btn-sm" rel="publisher"
                 href="#">
                  <i class="fa fa-google-plus"></i>
              </a>
              <a class="btn btn-primary btn-facebook btn-sm" rel="publisher"
                 href="https://www.facebook.com/amr.ashraf.serageldin">
                  <i class="fa fa-facebook"></i>
              </a>
            </div>
          </div>
      </div>
      <!-- end card profile 4 -->
      <!-- start card profile 5 -->
      <div class="col-lg-4 col-sm-6">
          <div class="card hovercard cardHead">
            <div class="cardheader">
              <div class="title">
                <h3 target="_blank">ريهام تمّام</h3>
              </div>
            </div>
            <div class="avatar">
              <img alt="" src="img/team-img/reham.jpg">
            </div>
            <div class="info">
              <div class="desc">full stack developer</div>
              <div class="desc">محبه لإستطلاع اراء الاّخرين</div>
              <div class="desc">محبه للتكلونوجيا</div>
            </div>
            <div class="bottom">
              <a class="btn btn-info btn-twitter btn-sm" href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-danger btn-googleplus btn-sm" rel="publisher"
                 href="#">
                  <i class="fa fa-google-plus"></i>
              </a>
              <a class="btn btn-primary btn-facebook btn-sm" rel="publisher"
                 href="https://www.facebook.com/profile.php?id=100014438490453">
                  <i class="fa fa-facebook"></i>
              </a>
            </div>
          </div>
      </div>
      <!-- end card profile 5 -->
      <!-- start card profile 6 -->
      <div class="col-lg-4 col-sm-6">
          <div class="card hovercard cardHead">
            <div class="cardheader">
              <div class="title">
                <h3 target="_blank">حسام رشوان</h3>
              </div>
            </div>
            <div class="avatar">
              <img alt="" src="img/team-img/hosam.jpg">
            </div>
            <div class="info">
              <div class="desc">full stack developer</div>
              <div class="desc">محبه لإستطلاع اراء الاّخرين</div>
              <div class="desc">محبه للتكلونوجيا</div>
            </div>
            <div class="bottom">
              <a class="btn btn-info btn-twitter btn-sm" href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-danger btn-googleplus btn-sm" rel="publisher"
                 href="#">
                  <i class="fa fa-google-plus"></i>
              </a>
              <a class="btn btn-primary btn-facebook btn-sm" rel="publisher"
                 href="https://www.facebook.com/hosam.rashwan.3">
                  <i class="fa fa-facebook"></i>
              </a>
            </div>
          </div>
      </div>
      <!-- end card profile 6 -->
    </div>
  </div>  
</section>