<p style="padding:20px"><p>
<section id="courseArchive"> 
  <link rel="stylesheet" href="css/about-us.css">
                  <div class="container">    
                <div class="jumbotron">
                  <div class="row">
                      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                          <img src="img/eshrekny.png" alt="stack photo" class="img">
                      </div>
                      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                          <div class="container" style="border-bottom:1px solid black">
                            <h2>من نحن؟</h2>
                          </div><br>
                          <div>
                          <p class="description">انطلاقًا من مبدأ أهمية المشاركة التطوعية الهادفة في العمل الاجتماعي داخل الجمعيات الأهلية، تمثل أشركني حلقة الوصل بين هذه الجمعيات، والأفراد الراغبين في التطوع، عن طريق تعريف الأفراد بهذه الجمعيات وما تقدمه من أنشطة، كما تتيح الفرصة للجمعيات للإعلان عن مبادراتها وأنشطتها المختلفة والدعوة للمشاركة فيها.<p>
                          </div>
                            <hr>
                          <ul class="container details">
                            <!-- <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+91 90000 00000</p></li> -->
                            <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>eshrkny@gmail.com</p></li>
                            <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>الإسكندرية</p></li>
                            <li><p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">www.ashrekny.com</p></a></p></li>
                          </ul>
                      </div>
                  </div>
                </div>

</section>