<p>hiii</p>
	
<div class="container">
    <p style="padding: 40px;"></p>
     <h1><span class="label label-info"> events </span></h1>
     <div ng-repeat="event in events">
    <div class="row" >
         <div ng-repeat="event in events | filter:searchText" >    
         <h3>{{event.title}}</h3> 
         <h4>التقييم:</h4>
         <div star-Rating class="myRating" ng-model='event.avg_rate'></div>
         <a class="btn btn-primary btn-lg" href="./eventdetails/{{event.id}}"> التفاصيل
         <span class="glyphicon glyphicon-chevron-left"></span> 
         </a>
         <h4>التاريخ:</h4>
         <p>{{event.start_date}}</p>
         <h4>الوصف:</h4>
         <p>{{event.description}}</p>               
         <h4>نشر بواسطة:</h4>
         <p>{{event.organization.name}}</p>
         <h4>العنوان:</h4>
         <p>{{event.full_address}}</p>
         

       
       
    </div>
    <hr>
    </div>
    </div>
</div>       
