<!-- <div class="container">
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<form  novalidate name="addOrgForm"
			class="col-xs-9 well" method="post"
 			ng-submit="submitted=true;addOrg(addOrgForm.$valid)"  enctype="multipart/form-data">

				<div class="form-group">
					<label  >اسم المنظمة</label>
					<input type="text" class="wp-form-control wpcf7-text" id="exampleInputName1" placeholder="اسم المنظمة" name="orgName" ng-model="org.orgName" required maxlength="50">
 					
 					<p class="validation" ng-if="addOrgForm.orgName.$error.required&&submitted">من فضلك ادخل اسم المنظمة</p>
  
 					<div ng-repeat="err in   orgErrors.orgName ">
  						<span class="validation">{{err}}
  						</span>
					</div>
  				</div>
				
				<div class="form-group">
					<label>البريد الالكتروني</label>
	    			<input type="email" class="wp-form-control wpcf7-email" placeholder="البريد الالكتروني"ng-model="org.email" name="email" required maxlength="50">
					
					<p class="validation" ng-if="addOrgForm.email.$error.required&&submitted">من فضلك ادخل البريد الالكتروني</p>
					
					<p class="validation" ng-if="addOrgForm.email.$error.email&&submitted">لك ادخل البريد الالكتروني بشكل صحيح</p>
	 				<div ng-repeat="err in orgAsUserErrors.email ">
	  					<p class="validation" >{{err}}
	  					</p>
					</div>
				</div>
				
				<div class="form-group">
    				<label for="exampleInputPassword1">كلمة السر</label>
    				<input type="password" class="wp-form-control wpcf7-password" 
    				id="exampleInputPassword1" placeholder="كلمة السر" name="password" ng-model="org.password" required maxlength="50">
    				
    				<p  class="validation" ng-if="addOrgForm.password.$error.required&&submitted">من فضلك ادخل الرقم السري</p>
					<div ng-repeat="passErr in orgAsUserErrors.password">
  						<span class="validation">{{passErr}}</span>
					</div>
				</div>

				<div class="form-group">
					<label for="exampleTextarea">وصف المنظمة</label>
					<textarea class="wp-form-control wpcf7-textarea" id="exampleTextarea" rows="3" class="validation" name="desc" ng-mode="org.desc" placeholder ="وصف المنظمة">
					</textarea>
				</div>
 				
				<div class="form-group">
  					<label >المنطقة</label>
					<input type="text" class="wp-form-control wpcf7-text"
					id="exampleInputRegion" placeholder="المنطفة" name="region" ng-model="org.region" required maxlength="50">
 
					<p class="validation" ng-if="addOrgForm.region.$error.required&&submitted" >من فضلك ادخل اسم المنطقة</p>
					<div ng-repeat="err in orgAsUserErrors.region">
  						<span class="validation" >{{err}}
  						</span>
					</div>
				</div>
				<div class="form-group">
  					<label for="exampleInputCity">المدينة
  					</label>
					<input type="text" class="wp-form-control wpcf7-text" 
					id="exampleInputCity" placeholder="المدينة" name="city" ng-model="org.city" >
					<p class="validation" ng-if="addOrgForm.city.$error.required&&submitted">من فضلك ادخل المدينة</p>

					<div ng-repeat="err in orgAsUserErrors.city">
  						<span class="validation" >{{err}}
  						</span>
					</div>
				</div>
				<div class="form-group">
  					<label for="exampleInputCity">العنوان بالتفصيل</label>
					<input type="text" class="wp-form-control wpcf7-text" 
					id="exampleInputCity" placeholder="العنوان بالتفصيل" name="fullAddress" ng-model="org.fullAddress" required maxlength="50">
					<div ng-repeat="err in orgErrors.fullAddress">
  						<span class="validation" >{{err}}</span>
					</div>
					<p class="validation" ng-if="addOrgForm.fullAddress.$error.required&&submitted">من فضلك ادخل العنوان بالتفصيل</p>
				</div>
				<div class="form-group">	
					<label for="exampleInputCity">مواعيد العمل</label>
					<input type="text" class="wp-form-control wpcf7-text" 
					id="exampleInputCity" placeholder="مواعيد العمل" name="officeHours" ng-model="org.officeHours" required maxlength="100">
					<p class="validation" ng-if="addOrgForm.officeHours.$error.required&&submitted">من فضلك ادخل مواعيد العمل</p>
					<div ng-repeat="err in orgErrors.officeHours">
  						<span class="validation" >{{err}}
  						</span>
					</div>
				</div> 

				<div class="form-group">
   					<label for="exampleInputCity">رقم الترخيص</label>
					<input type="text" class="wp-form-control wpcf7-text" 
					id="exampleInputCity" placeholder="رقم الترخيص" name="license_number" ng-model="org.license_number" required maxlength="50">
					<p class="validation"ng-if="addOrgForm.license_number.$error.required&&submitted">من فضلك ادخل رقم الترخيص</p>

					<div ng-repeat="err in orgErrors.license_number">
	  					<span class="validation">{{err}}</span>
					</div>
				</div>
				<div class="form-group">
	 				<label >صورة الترخيص</label>
	 				<input type="file" name="license" onchange="angular.element(this).scope().setLicense(this.files)" required>

 					<p class="validation"  ng-if="addOrgForm.license.$error.required&&submitted">من فضلك ارفق صورة<الترخيص
 					</p>
 
					<div ng-repeat="err in orgErrors.licenseScan ">
	  					<span class="validation">{{err}}
	  					</span>
					</div>
				</div>
				<div class="form-group">	
					<label >اللوجو</label>
 					<input type="file" name="logo" onchange="angular.element(this).scope().setLogo(this.files)">
				</div>
  				<button class="btn btn-info wpcf7-submit">اشترك</button>
			</form>
		</div>
	</div>
</div> -->