
<link  href="app/bower_components/angular-input-stars/angular-input-stars.css" rel="stylesheet"></link>

<section id="imgBanner">

  <h2>slider</h2>
</section> 
    <!--=========== BEGIN EVENT BANNER SECTION ================-->
    <section id="courseArchive">
      <div class="container">
        <div class="row">
          <!-- start course content -->
          <div class="col-lg-12 col-md-12 col-sm-8">
            <div class="courseArchive_content">
              <!-- start blog archive  -->
              <div class="row">
                <!-- start single blog -->
                <h2 class="blog_title text-center">{{eventDetails.title}}</h2>
                <div star-Rating class="myRating text-center" ng-model='eventDetails.avg_rate'></div>
                <hr>
                <div class="col-lg-6 col-6 col-sm-6">
                  <div class="single_blog">                    
                    <h3>نشر بواسطة: {{eventDetails.organization.name}}</h3>
                    <p>{{eventDetails.description}}</p> 
                    <div class="blog_commentbox">
                      <h3>تصنيفات:</h3>
                      <div ng-repeat="category in eventDetails.categories">
                        {{category.name}}
                      </div><br>
                      <p><i class="fa fa-clock-o"></i><strong>الميعاد من:</strong>{{eventDetails.start_date}} - الى: {{eventDetails.end_date}}</p><br>
                      <p><i class="fa fa-map-marker"></i>
                          <strong>المكان:</strong>{{eventDetails.full_address}} <br>
                          {{eventDetails.region}},{{eventDetails.city}},{{eventDetails.country}}
                      </p>                      
                    </div>              
                    </div>
                </div>
                <!--table-->
                <div class="col-lg-6 col-6 col-sm-6">
                  <!-- start table tasks -->
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>المطلوب</th>
                          <th>العدد المطلوب</th>
                          <th>عدد المشاركات</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="task in eventDetails.tasks">
                            <td>{{task.name}}</td>
                            <td>{{task.required_volunteers}}</td>
                            <td>{{task.going_volunteers}}</td>
                            <td> <a class="btn btn-info " href="#" ng-click="participate(task)"> اشترك
                                     <span class="glyphicon glyphicon-plus-sign"></span> 
                                 </a>
                            </td>
                            <td> <a class="btn btn-info " href="#" ng-click="cancelparticipate(task)"> الغاء الاشتراك
                                   <span class="glyphicon glyphicon-plus-sign"></span> 
                                 </a>
                            </td>

                        </tr>
                     </tbody>
                  </table>
                  <!-- end table tasks-->

                </div>
                <!-- End single blog -->                
              </div>
              <!-- end blog archive  -->          
            </div>
          </div>
          <!-- End course content -->
        </div>
      </div>
    </section>
    <!--=========== END EVENT BANNER SECTION ================--> 

    <!--=========== START POST EVENT REVIEW BANNER SECTION ================--> 
    <section>
      <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-8 col-sm-offset-2">
            <div class="contact_form wow fadeInLeft">
                    <form class="well submitphoto_form" novalidate method = "POST" 
                    ng-submit="postreview(review,eventDetails.id)" name="reviewForm">  

                      <input type="text" class="wp-form-control wpcf7-text" name="comment" ng-model="review.comment" placeholder="اكتب تقييم">
                      <input-stars required max="5" ng-model="review.rate"></input-stars>                      
                      <input type="submit" value="ارسال" class="wpcf7-submit">
                    </form>
            </div>
    </section>
    <!--=========== END POST EVENT REVIEW BANNER SECTION ================-->

    <!--=========== START SHOW EVENT REVIEW BANNER SECTION ================--> 
    <section>
      <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-8 col-sm-offset-2">
                    <div class="comments-list">
                        <div class="page-header">
                          <h1>التعليقات <small class="pull-left">comments number</small></h1>
                        </div>
                        <div class="media" ng-repeat="review in eventDetails.reviewsvolunteers"> 
                           <p class="pull-left"><small>{{review.created_at | date : "dd/MM/y" }}</small>
                              <p star-Rating class="myRating text-center" ng-model='review.rate'></p>

                           </p>
                            <a class="media-left" href="#">
                              <img src="http://lorempixel.com/40/40/people/1/" alt="profile pic">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading user_name">{{review.volunteer.first_name}}</h4>
                              <p>{{review.comment}}</p>
                            </div>
                            <hr>
                        </div>

                    </div>
         </div> 
      </div>  
    </section>
    <!--=========== END SHOW EVENT REVIEW BANNER SECTION ================-->   