.tabvolunteer{
	border-right: 2px solid #FF9933;
}
.panel-title{
	font-size: 20px;
}

.volunter-tble .table td span{
display:inline-block;
}

.block-title{
	width:30%;
}
.block-desc{
	width:70%;
}
.volunter-tble .block-title{
 font-weight:bold;
}
.volunter-tble tr:first-child td{
	border: none;
}
.event
{
	width: 30%;
	height: 300px;
}
#imgBanner h2
{
	color: #000;
	margin-top:0;
}
// .contact_form
// {
// 	margin-top:5px;
// }

.validation{
  color:#ff0000;
}
.wpcf7-textarea{
	height: :150px !important;
}

.topEvents,.topStories{
	background-color: #F6F6F6;
	display: inline;
  	float: left;
  	padding: 60px;
  	width: 100%;
}
.topOrganizations{
	display: inline;
  	float: left;
  	padding: 60px;
  	width: 100%;
}

hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

.singCourse_imgarea{
	float: left;
  	overflow: hidden;
  	position: relative;
  	text-align: center;
}

.singCourse_imgarea .mask{
	background-color:#438189;
}

.topThree{
	width: 100% !important;
}
.panel-heading{
	padding: 10px 10px 20px 20px;
}

@font-face {
    font-family: arabicFont;
    src: url(../fonts/DroidSans.ttf);
}

@font-face {
    font-family: arabicFontTwo;
    src: url(../fonts/A-Mosalas.ttf);
}

body, h1,h2,h3,h4,h5,h6 {
	font-family: arabicFont;
}

.navbar-default .navbar-nav > li > a{
	font-size:20px;
	font-family:arabicFont;
}
.navbar-default .navbar-brand span{
	font-size:40px;
}

.navbar-brand{
	font-family: arabicFontTwo;
}

.footer_widget_nav li a, .single_footer_widget h3, p{
	font-family: arabicFont;
	font-size: 20px;
}

.footer_widget_nav li a:hover{
	color:#ffffff;
}

.eventsFooter{
	position:relative;
	left:-40px;
}

.storyDescription{
	word-wrap:break-word;
}

.singCourse_title{
	font-weight:bold;
}
.stars{
	color: #FDE35E;
}
.ratetable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.signupTab{
	border-bottom: none;
}

// search bar
.search-box-outer{
	position:absolute;
	width:100%; 
	height:60px; 
	float:left; 
	background:#fff; 
	z-index:99999999; 
	left:0;
	top:-60px;
	display: none!important;
	// transition: all 0.2s ease-in;
	// -moz-transition: all 1s ease-in-out;
}
.search-box{
	width:100%;
	position:relative; 
	padding-right:60px;
}
.search-box .form-control, .search-box .form-control:focus{
	height:82px; 
	border:0;
	border-bottom: 1px solid #ccc; 
	box-shadow:none !important; 
	font-size:24px; 
	border-radius: 0;
}
.close-search{
	background-color: #fff;
	color: #000;
	width: 60px;
	height: 82px;
	float: left;
	border-bottom: 1px solid #ccc;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 24px;
	line-height: 82px;
	text-align: center;
}
.show-search .search-box-outer{
	top:0;
	position: absolute!important;
	z-index: 99999;
    width: 100%;
}
.search-box-outer .container{
	padding:40;	
}
.wp-form-control li{
	display: inline-block!important;
}

.item.imgSlider img{
	width:100%;
	height:400px;
}
.wpcf7-submit .editButton{
	margin: 0 50px;
}