.tabvolunteer{
	border-right: 2px solid #78ADC9;
}
.panel-title{
	font-size: 20px;
}

.volunter-tble .table td span{
display:inline-block;
}

.block-title{
	width:30%;
}
.block-desc{
	width:70%;
}
.volunter-tble .block-title{
 font-weight:bold;
}
.volunter-tble tr:first-child td{
	border: none;
}
.event
{
	width: 30%;
	height: 300px;
}
#imgBanner h2
{
	color: #000;
}
.contact_form
{
	margin-top:5px;
}

.validation{
  color:#ff0000;
}