.tabvolunteer{
	border-right: 2px solid #FF9933;
}
.panel-title{
	font-size: 20px;
}

.volunter-tble .table td span{
display:inline-block;
}

.block-title{
	width:30%;
}
.block-desc{
	width:70%;
}
.volunter-tble .block-title{
 font-weight:bold;
}
.volunter-tble tr:first-child td{
	border: none;
}
.event
{
	width: 30%;
	height: 300px;
}
#imgBanner h2
{
	color: #000;
}
.contact_form
{
	margin-top:5px;
}

.validation{
  color:#ff0000;
}
.wpcf7-textarea{
	height: :150px !important;
}

.topEvents,.topStories{
	background-color: #F6F6F6;
	display: inline;
  	float: left;
  	padding: 60px;
  	width: 100%;
}
.topOrganizations{
	display: inline;
  	float: left;
  	padding: 60px;
  	width: 100%;
}

hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

.singCourse_imgarea{
	float: left;
  	overflow: hidden;
  	position: relative;
  	text-align: center;
}

.singCourse_imgarea .mask{
	background-color:#438189;
}

.topThree{
	width: 100% !important;
}

.panel-heading{
	padding: 10px 10px 20px 20px;
}

@font-face {
    font-family: arabicFont;
    src: url(../fonts/DroidSans.ttf);
}

@font-face {
    font-family: arabicFontTwo;
    src: url(../fonts/A-Mosalas.ttf);
}

body, h1,h2,h3,h4,h5,h6 {
	font-family: arabicFont;
}

.navbar-default .navbar-nav > li > a{
	font-size:20px;
	font-family:arabicFont;
}
.navbar-default .navbar-brand span{
	font-size:40px;
}

.navbar-brand{
	font-family: arabicFontTwo;
}

.footer_widget_nav li a, .single_footer_widget h3, p{
	font-family: arabicFont;
	font-size: 20px;
}

.footer_widget_nav li a:hover{
	color:#ffffff;
}

.eventsFooter{
	position:relative;
	left:-40px;
}

.storyDescription{
	word-wrap:break-word;
}

.singCourse_title{
	font-weight:bold;
}